<div class="row g-5 g-xl-8">
  <!-- begin::Col -->
  <div class="col">
    <!--    <app-tables-widget1-->
    <!--    ></app-tables-widget1>-->

    <div
      class="card card-xl-stretch mb-xl-8"

    >
      <!-- begin::Header -->
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1">User list</span>
          <span class="text-muted fw-bold fs-7">Total {{ this.result.length }} user</span>
        </h3>
        <div class="card-toolbar">
          <!-- begin::Menu -->
          <button
            class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
            data-kt-menu-flip="top-end"
            data-kt-menu-placement="bottom-end"
            data-kt-menu-trigger="click"
            type="button"
          >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'"
        class="svg-icon svg-icon-2"
      ></span>
          </button>
          <!-- begin::Menu 1 -->
          <app-dropdown-menu1></app-dropdown-menu1>
          <!-- end::Menu 1 -->
          <!-- end::Menu -->
        </div>
      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body py-3">
        <!-- begin::Table container -->
        <div class="table-responsive">
          <!-- begin::Table -->
          <table class="table align-middle gs-0 gy-5">
            <!-- begin::Table head -->
            <thead>
            <tr>
              <th class="p-0 w-50px"></th>
              <th class="p-0 min-w-200px"></th>
              <th class="p-0 min-w-100px"></th>
              <th class="p-0 min-w-40px"></th>
            </tr>
            </thead>
            <!-- end::Table head -->
            <!-- begin::Table body -->
            <tbody>
            <tr *ngFor="let item of this.result">
              <th>
                <div class="symbol symbol-50px me-2">
              <span class="symbol-label">
                <img
                  alt=""
                  class="symbol-label align-self-center"
                  src="{{item.pic || './assets/media/svg/brand-logos/plurk.svg'}}"
                />
              </span>
                </div>
              </th>
              <td>
                <a
                  class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
                  href="#"
                >
                  {{ item.fullname }}
                </a>
                <span class="text-muted fw-bold d-block fs-7"
                >{{ item.email }}</span
                >
              </td>
              <td>
                <span *ngFor="let role of item.roles; let last = last">{{ RoleMap[role].label }} <span
                  *ngIf="!last"> ,</span></span>
                <!--                <div class="d-flex flex-column w-100 me-2">-->
                <!--                  <div class="d-flex flex-stack mb-2">-->
                <!--                    <span class="text-muted me-2 fs-7 fw-bold">70%</span>-->
                <!--                  </div>-->
                <!--                  <div class="progress h-6px w-100">-->
                <!--                    <div-->
                <!--                      [style.width]="'70%'"-->
                <!--                      class="progress-bar bg-primary"-->
                <!--                      role="progressbar"-->
                <!--                    ></div>-->
                <!--                  </div>-->
                <!--                </div>-->
              </td>
              <td class="text-end">
                <a
                  (click)="onDetail(item)"
                  class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary"
                >
              <span
                [inlineSVG]="'./assets/media/icons/duotune/arrows/arr064.svg'"
                class="svg-icon svg-icon-2"
              ></span>
                </a>
              </td>
            </tr>
            <!--            <tr>-->
            <!--              <th>-->
            <!--                <div class="symbol symbol-50px me-2">-->
            <!--              <span class="symbol-label">-->
            <!--                <img-->
            <!--                  alt=""-->
            <!--                  class="h-50 align-self-center"-->
            <!--                  src="./assets/media/svg/brand-logos/telegram.svg"-->
            <!--                />-->
            <!--              </span>-->
            <!--                </div>-->
            <!--              </th>-->
            <!--              <td>-->
            <!--                <a-->
            <!--                  class="text-dark fw-bolder text-hover-primary mb-1 fs-6"-->
            <!--                  href="#"-->
            <!--                >-->
            <!--                  Popular Authors-->
            <!--                </a>-->
            <!--                <span class="text-muted fw-bold d-block fs-7">Most Successful</span>-->
            <!--              </td>-->
            <!--              <td>-->
            <!--                <div class="d-flex flex-column w-100 me-2">-->
            <!--                  <div class="d-flex flex-stack mb-2">-->
            <!--                    <span class="text-muted me-2 fs-7 fw-bold">50%</span>-->
            <!--                  </div>-->
            <!--                  <div class="progress h-6px w-100">-->
            <!--                    <div-->
            <!--                      [style.width]="'50%'"-->
            <!--                      class="progress-bar bg-primary"-->
            <!--                      role="progressbar"-->
            <!--                    ></div>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--              </td>-->
            <!--              <td class="text-end">-->
            <!--                <a-->
            <!--                  class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary"-->
            <!--                  href="#"-->
            <!--                >-->
            <!--              <span-->
            <!--                [inlineSVG]="'./assets/media/icons/duotune/arrows/arr064.svg'"-->
            <!--                class="svg-icon svg-icon-2"-->
            <!--              ></span>-->
            <!--                </a>-->
            <!--              </td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--              <th>-->
            <!--                <div class="symbol symbol-50px me-2">-->
            <!--              <span class="symbol-label">-->
            <!--                <img-->
            <!--                  alt=""-->
            <!--                  class="h-50 align-self-center"-->
            <!--                  src="./assets/media/svg/brand-logos/vimeo.svg"-->
            <!--                />-->
            <!--              </span>-->
            <!--                </div>-->
            <!--              </th>-->
            <!--              <td>-->
            <!--                <a-->
            <!--                  class="text-dark fw-bolder text-hover-primary mb-1 fs-6"-->
            <!--                  href="#"-->
            <!--                >-->
            <!--                  New Users-->
            <!--                </a>-->
            <!--                <span class="text-muted fw-bold d-block fs-7">Awesome Users</span>-->
            <!--              </td>-->
            <!--              <td>-->
            <!--                <div class="d-flex flex-column w-100 me-2">-->
            <!--                  <div class="d-flex flex-stack mb-2">-->
            <!--                    <span class="text-muted me-2 fs-7 fw-bold">80%</span>-->
            <!--                  </div>-->
            <!--                  <div class="progress h-6px w-100">-->
            <!--                    <div-->
            <!--                      [style.width]="'80%'"-->
            <!--                      class="progress-bar bg-primary"-->
            <!--                      role="progressbar"-->
            <!--                    ></div>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--              </td>-->
            <!--              <td class="text-end">-->
            <!--                <a-->
            <!--                  class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary"-->
            <!--                  href="#"-->
            <!--                >-->
            <!--              <span-->
            <!--                [inlineSVG]="'./assets/media/icons/duotune/arrows/arr064.svg'"-->
            <!--                class="svg-icon svg-icon-2"-->
            <!--              ></span>-->
            <!--                </a>-->
            <!--              </td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--              <th>-->
            <!--                <div class="symbol symbol-50px me-2">-->
            <!--              <span class="symbol-label">-->
            <!--                <img-->
            <!--                  alt=""-->
            <!--                  class="h-50 align-self-center"-->
            <!--                  src="./assets/media/svg/brand-logos/bebo.svg"-->
            <!--                />-->
            <!--              </span>-->
            <!--                </div>-->
            <!--              </th>-->
            <!--              <td>-->
            <!--                <a-->
            <!--                  class="text-dark fw-bolder text-hover-primary mb-1 fs-6"-->
            <!--                  href="#"-->
            <!--                >-->
            <!--                  Active Customers-->
            <!--                </a>-->
            <!--                <span class="text-muted fw-bold d-block fs-7">Best Customers</span>-->
            <!--              </td>-->
            <!--              <td>-->
            <!--                <div class="d-flex flex-column w-100 me-2">-->
            <!--                  <div class="d-flex flex-stack mb-2">-->
            <!--                    <span class="text-muted me-2 fs-7 fw-bold">90%</span>-->
            <!--                  </div>-->
            <!--                  <div class="progress h-6px w-100">-->
            <!--                    <div-->
            <!--                      [style.width]="'90%'"-->
            <!--                      class="progress-bar bg-primary"-->
            <!--                      role="progressbar"-->
            <!--                    ></div>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--              </td>-->
            <!--              <td class="text-end">-->
            <!--                <a-->
            <!--                  class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary"-->
            <!--                  href="#"-->
            <!--                >-->
            <!--              <span-->
            <!--                [inlineSVG]="'./assets/media/icons/duotune/arrows/arr064.svg'"-->
            <!--                class="svg-icon svg-icon-2"-->
            <!--              ></span>-->
            <!--                </a>-->
            <!--              </td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--              <th>-->
            <!--                <div class="symbol symbol-50px me-2">-->
            <!--              <span class="symbol-label">-->
            <!--                <img-->
            <!--                  alt=""-->
            <!--                  class="h-50 align-self-center"-->
            <!--                  src="./assets/media/svg/brand-logos/kickstarter.svg"-->
            <!--                />-->
            <!--              </span>-->
            <!--                </div>-->
            <!--              </th>-->
            <!--              <td>-->
            <!--                <a-->
            <!--                  class="text-dark fw-bolder text-hover-primary mb-1 fs-6"-->
            <!--                  href="#"-->
            <!--                >-->
            <!--                  Bestseller Theme-->
            <!--                </a>-->
            <!--                <span class="text-muted fw-bold d-block fs-7"-->
            <!--                >Amazing Templates</span-->
            <!--                >-->
            <!--              </td>-->
            <!--              <td>-->
            <!--                <div class="d-flex flex-column w-100 me-2">-->
            <!--                  <div class="d-flex flex-stack mb-2">-->
            <!--                    <span class="text-muted me-2 fs-7 fw-bold">70%</span>-->
            <!--                  </div>-->
            <!--                  <div class="progress h-6px w-100">-->
            <!--                    <div-->
            <!--                      [style.width]="'70%'"-->
            <!--                      class="progress-bar bg-primary"-->
            <!--                      role="progressbar"-->
            <!--                    ></div>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--              </td>-->
            <!--              <td class="text-end">-->
            <!--                <a-->
            <!--                  class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary"-->
            <!--                  href="#"-->
            <!--                >-->
            <!--              <span-->
            <!--                [inlineSVG]="'./assets/media/icons/duotune/arrows/arr064.svg'"-->
            <!--                class="svg-icon svg-icon-2"-->
            <!--              ></span>-->
            <!--                </a>-->
            <!--              </td>-->
            <!--            </tr>-->
            </tbody>
            <!-- end::Table body -->
          </table>
          <!-- end::Table -->
        </div>
        <!-- end::Table container -->
      </div>
    </div>

  </div>
</div>
